@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<img src="~/images/icons8-man-100.png" alt="About Us Image" style="width: 200px; height: 200px;" />
<br /> 
<p>Hi, my name is Khumalo !</p>
<br /> 
<br /> 
<br /> 

<h2> About me : </h2>

<body> I came from a small family out in Cape Town, I have always loved creating and worked hard as a child to learn as many skills as I could. 
       The vision of his platform is to have an easy way for us to learn, share and create!

</body>

<br /> 
<br /> 
<br /> 

<h2> Our Mission : </h2>
<body> We are a team of 10 dedicated to making this platform the best it can be, working night and day to provide you with the best solutions possible for all your needs!

</body>
